@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: fill-available;
  height: -webkit-fill-available;  
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: black;
  width: 100vw;
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

.image-wrapper {
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
  user-select:none;
  pointer-events:none  
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  color: rgb(147, 147, 225);
  transition: all ease-in 200ms;
}

a:hover {
  color: rgb(221, 167, 223);
}

#root, #__next {
  isolation: isolate;
}

.typing {
  width: 11ch;
  animation: typing 1.2s steps(12), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 1.5em;
  margin: 0.7rem 0;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
